

<div class= "main">
<div class= "home">
<h1>products</h1>
</div>
</div>
<div class= "sidebar"> 
	<ul>
		<li><%= link_to 'About Us', pages_about_us_path, class: "links" %></li>
		<li><%= link_to 'Contact Us', pages_contact_us_path, class: "links" %></li>
		<li><%= link_to 'Products', pages_products_path, class: "links" %></li>
    <li><%= link_to ' home page', pages_index_path, class: "links" %></li>

	</ul>


</div>
